<div class="mx-auto flex justify-center">
    <div class="text-center">
        <h1>Flights search results </h1>
        <h2>From <%= @departure_airport.name %> to <%= @arrival_airport.name %></h2>
        <% @flights.each do |flight| %>
        <%# Complete search results here %>
        <% end %>
    </div>
</div>